<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/error.css" rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

	
</head>
<body>
<a href="" class="fa fa-arrow-left"></a>
<div class="error">
  <h1>ERROR!</h1>
  <p>Disculpe las molestias, por favor, vuelva a la página anterior.</p>
  
</div>
</body>